<a href="https://colab.research.google.com/github/2403a51457-byte/DAV/blob/main/MissingValues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {'patientid':[1, 2, 3, 4, 1, 5],
        'age':[25, 30, 45, 40, 25, 50],
        'bp':[120, 130, 140, 125, 120, 135]}
patient_df = pd.DataFrame(data)


print(patient_df.duplicated())
patient_df = patient_df.drop_duplicates()
print(patient_df)

0    False
1    False
2    False
3    False
4     True
5    False
dtype: bool
   patientid  age   bp
0          1   25  120
1          2   30  130
2          3   45  140
3          4   40  125
5          5   50  135

In [2]:
import pandas as pd

data = {'orderid': [1, 2, 3, 4],
        'product': ['mobile', 'laptop', 'tablet ', 'mobile'],
        'amount': [10000, 20000, 30000, 10000]}
sales = pd.DataFrame(data)

print(sales.duplicated())
sales_df = sales.drop_duplicates()
print(sales_df)

0    False
1    False
2    False
3    False
dtype: bool
   orderid  product  amount
0        1   mobile   10000
1        2   laptop   20000
2        3  tablet    30000
3        4   mobile   10000

In [3]:
import pandas as pd

data = {'bp':[120, None, None, 123, None]}
df = pd.DataFrame(data)
df['bp'].fillna(method='ffill', inplace=True)
print(df)

      bp
0  120.0
1  120.0
2  120.0
3  123.0
4  123.0

/tmp/ipython-input-3999717294.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bp'].fillna(method='ffill', inplace=True)
/tmp/ipython-input-3999717294.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['bp'].fillna(method='ffill', inplace=True)

In [4]:
import pandas as pd
import numpy as np

data = {'patientid':[1,2,3,4,5],
        'age':[25,30,None,40,50],
        'bp':[120,None,110,200,None]}
df=pd.DataFrame(data)
print(df)

   patientid   age     bp
0          1  25.0  120.0
1          2  30.0    NaN
2          3   NaN  110.0
3          4  40.0  200.0
4          5  50.0    NaN

In [5]:
df['age'].fillna(df['age'].mean(),inplace=True)
print(df)

   patientid    age     bp
0          1  25.00  120.0
1          2  30.00    NaN
2          3  36.25  110.0
3          4  40.00  200.0
4          5  50.00    NaN

/tmp/ipython-input-2644800082.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean(),inplace=True)